<link type="text/css" rel="stylesheet" href="{{ settings.path }}/templates/{{ meta.filename }}/{{ meta.filename }}.css?v={{ settings.version }}">

<div id="summaryForm">
  <section class="profit_section resort_soft__container">
    <button class="profit_button">
        {{innerText}}
        <span class="spinner"></span>
    </button>
  </section>
</div>
